@import 'variable';
.text{
    font: size 1px;
    background-color: $red-color;
}
h1{
    color: $red-color;
    text-color: purple;
}
.user-avatar{
   width: 28px;
   height: 28px;
   border-radius: 50%;
   margin-right: 4px;
}